target/
!.mvn/wrapper/maven-wrapper.jar
/static/js/bundle.js
/static/js/bundle.js.map
/static/js/*.chunk.js
/static/js/*.chunk.js.map

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System ###
Thumbs.db
Desktop.ini
.DS_Store
